<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1189px)" href="/css/smallScreen.css">
    <link rel="stylesheet" media="screen and (max-width: 770px)" href="/css/smallerScreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Landing page</title>
    
    
</head>
<body>
  <input type="checkbox" id="toggler" />
    <aside class="aside-wrapper">
        <h1 class="logo-text"><label for="toggler"><img src="/images/window-close.svg" ></label></h1>
      
        <ul>
          <li>home</li>
          <li>courses</li>
          <li>Teacher</li>
          <li>Pricing</li>
          <li>Contuct</li>
          <li>login</li>
          <li>sign up</li>
        </ul>
      
      </aside>
    <header>
    <div class="container">
            <div class="navbar-brand">
            <img src="/images/Mask Group.svg" alt="NR logo">
            </div>
            <div class="topnav" id="myTopnav">
             
      <nav class="mobile-menu">
          <ul class="navbar">
              <li class="active">Home</li>
              <li>Courses</li>
              <li>Teacher</li>
              <li>Pricing</li>
              <li>Contuct</li>
          </ul>
        </nav>

          
      
     
      </div>
      <div class="right-side">
        <button class="log">Log In</button>
        <button class="sign">Sign Up</button>
      </div>
      <span class="bars"><label for="toggler"><img src="/images/bars.svg" alt="bars"></label></span>
    </div>
   
     
    </header>
    <section>
      <div class="bg-home">
        <div class="part1"><h1 class="title"><span class="underline">Education</span> is the power of humen</h1>
        <p>It is a long established fact that a reader will be <br> distracted by the readable 
          content of a page <br> when looking at its layout.</p>
        <button class="btn-home">Let’s Started</button>
      <button class="btn1-home">Try For Free</button></div>
        <div class="bg-image"><img src="/images/Group 1.svg" alt="">
        <div class="circle1"></div><div class="circle2"></div></div>
        
      </div>
      
      <div class="logos">
        <div class="logo1"><img src="/images/Logo01.svg" alt=""></div>
        <div class="logo1"><img src="/images/Logo02.svg" alt=""></div>
        <div class="logo1"><img src="/images/Logo03.svg" alt=""></div>
        <div class="logo1"><img src="/images/Logo04.svg" alt=""></div>
      </div>
    </section>
    <section class="bg-process">
      
        <div >
          <h2 class="title-process ">Our Process</h2>
          <div class="bg-process-cards">
            <div class="card1">
              <div class="icon-process"><svg xmlns="http://www.w3.org/2000/svg" width="60.001" height="60" viewBox="0 0 60.001 60">
                <g id="Group_29" data-name="Group 29" transform="translate(-382 -1273)">
                  <path id="Vector" d="M9.317,18.75a2.5,2.5,0,0,1-1.775-.74L.725,11.135a2.5,2.5,0,0,1,3.55-3.52l4.92,4.963L19.36.862A2.5,2.5,0,1,1,23.137,4.14L11.2,17.89a2.507,2.507,0,0,1-1.805.86Z" transform="translate(394.5 1288)" fill="#fff"/>
                  <path id="Vector-2" data-name="Vector" d="M19.951,22.451a2.493,2.493,0,0,1-1.768-.733L.733,4.268A2.5,2.5,0,0,1,4.268.733l17.45,17.45a2.5,2.5,0,0,1-1.768,4.268Z" transform="translate(419.549 1310.549)" fill="#fff"/>
                  <path id="Vector-3" data-name="Vector" d="M24.375,48.75A24.375,24.375,0,1,1,48.75,24.375,24.4,24.4,0,0,1,24.375,48.75Zm0-43.75A19.375,19.375,0,1,0,43.75,24.375,19.4,19.4,0,0,0,24.375,5Z" transform="translate(382 1273)" fill="#fff"/>
                </g>
              </svg>
            </div>
            <h2>Find Your Course</h2>
          <p>We've helped over 2.300 new Studens to get into the most popular 
            tech teams.</p>
              <div class="line1"></div></div>
            <div class="card1">
              <div class="icon-process">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
                  <g id="Group_30" data-name="Group 30" transform="translate(-770 -1273)">
                    <path id="Vector" d="M52,9a4,4,0,0,0-4-4H47V8a2,2,0,0,1-2,2H43a2,2,0,0,0,2-2V2a2,2,0,0,0-4,0V5H36V8a2,2,0,0,1-2,2H32a2,2,0,0,0,2-2V2a2,2,0,0,0-4,0V5H24V8a2,2,0,0,1-2,2H20a2,2,0,0,0,2-2V2a2,2,0,0,0-4,0V5H13V8a2,2,0,0,1-2,2H9a2,2,0,0,0,2-2V2A2,2,0,0,0,7,2V5H4A4,4,0,0,0,0,9v6H52Z" transform="translate(770 1273)" fill="#fff"/>
                    <path id="Vector-2" data-name="Vector" d="M11,0A11,11,0,1,0,22,11,11,11,0,0,0,11,0Zm0,13a1.987,1.987,0,0,1-.724-.14L6.625,15.781l-1.25-1.562L9.03,11.3A1.91,1.91,0,0,1,10,9.277V3h2V9.277A1.994,1.994,0,0,1,11,13Z" transform="translate(808 1311)" fill="#fff"/>
                    <path id="Vector-3" data-name="Vector" d="M4,37H37a13,13,0,0,1,7-17H39V14h6v5.634a12.8,12.8,0,0,1,7-.272V0H0V33A4,4,0,0,0,4,37ZM39,3h6V9H39ZM28,3h6V9H28Zm0,11h6v6H28Zm0,11h6v6H28ZM17,3h6V9H17Zm0,11h6v6H17Zm0,11h6v6H17ZM6,3h6V9H6ZM6,14h6v6H6ZM6,25h6v6H6Z" transform="translate(770 1290)" fill="#fff"/>
                  </g>
                </svg>
                
              </div>
              <h2><%= article.title %></h2>
              <p><%= article.description %></p><div class="line2"></div></div>
            <div class="card1"><div class="icon-process">
              <svg xmlns="http://www.w3.org/2000/svg" width="60.002" height="60" viewBox="0 0 60.002 60">
                <g id="Group_31" data-name="Group 31" transform="translate(-1158 -1273)">
                  <g id="Group">
                    <g id="Group-2" data-name="Group">
                      <path id="Vector" d="M0,0V16H16Z" transform="translate(1202.002 1273)" fill="#fff"/>
                    </g>
                  </g>
                  <g id="Group-3" data-name="Group">
                    <g id="Group-4" data-name="Group">
                      <path id="Vector-2" data-name="Vector" d="M19.946,29.516,16.882,17.224a10,10,0,1,0-13.76,0L.059,29.516a2,2,0,0,0,2.836,2.276L10,28.236l7.1,3.556A2.084,2.084,0,0,0,18,32a2,2,0,0,0,1.944-2.484ZM10,16a6,6,0,1,1,6-6A6.007,6.007,0,0,1,10,16Z" transform="translate(1158 1301)" fill="#fff"/>
                    </g>
                  </g>
                  <g id="Group-5" data-name="Group">
                    <g id="Group-6" data-name="Group">
                      <path id="Vector-3" data-name="Vector" d="M32,20a4.007,4.007,0,0,1-4-4V0H4A4.007,4.007,0,0,0,0,4V24.2A13.974,13.974,0,0,1,12,38a13.806,13.806,0,0,1-2.736,8.284L11.688,56H44a4,4,0,0,0,4-4V20ZM10,16a2,2,0,0,1,0-4H22a2,2,0,0,1,0,4ZM38,40H18a2,2,0,1,1,0-4H38a2,2,0,1,1,0,4Zm0-12H14a2,2,0,1,1,0-4H38a2,2,0,1,1,0,4Z" transform="translate(1170.002 1273)" fill="#fff"/>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <h2>Get Certificate</h2>
            <p>We've helped over 2.300 new Studens to get into the most popular 
              tech teams.</p><div class="line3"></div></div>
          </div>
        </div>
        
        </div>
      
      
     
      </section>
      <section class="bg-courses">
        <div>
          <h2 class="title-courses">Our Courses</h2>
        </div>
        <div class="card-courses">
          <div class=" card-1 card-course"><div class="img-course"><img src="/images/Image (2).svg" alt="">
          <div class="star"><span><sup><i class="fa fa-star" style="color: #FA8849;"></i></sup>4.9</span></div></div>
        <div class="notes"><p>Daniel Scott</p><p><i class="fa fa-eye"></i> View 32K</p></div>
      <h4>Learn Figma: User Interface Design Essentials UI/UX Design</h4>
    <p class="p-course">Lorem ipsum dolor sit amet, porttitor purus consectetur adipiscing </p>
  <div class="cost"><span> <sub>$</sub>40</span><i class="fa fa-minus" style="color: #fff;"></i></div></div>
          <div class="card-1 card-course"><div class="img-course"><img src="/images/Image1.svg" alt="">
            <div class="star"><span><sup><i class="fa fa-star" style="color: #FA8849;"></i></sup>4.9</span></div></div> <div class="notes"><p>Arash Ahadzadeh</p><p><i class="fa fa-eye"></i> View 32K</p></div>
          <h4>Learn Figma: User Interface Design Essentials UI/UX Design</h4>
        <p class="p-course">Lorem ipsum dolor sit amet, porttitor purus consectetur adipiscing </p>
      <div class="cost"><span> <sub>$</sub>40</span><i class="fa fa-minus" style="color: #fff;"></i></div></div>
          <div class="card-1 card-course"><div class="img-course"><img src="/images/Image2.svg" alt="">
            <div class="star"><span><sup><i class="fa fa-star" style="color: #FA8849;"></i></sup>4.9</span></div></div> <div class="notes"><p>Rino De Boer</p><p><i class="fa fa-eye"></i> View 32K</p></div>
          <h4>Learn Figma: User Interface Design Essentials UI/UX Design</h4>
        <p class="p-course">Lorem ipsum dolor sit amet, porttitor purus consectetur adipiscing </p>
      <div class="cost"><span> <sub>$</sub>40</span><i class="fa fa-minus" style="color: #fff;"></i></div></div>
          <div class="card-1 card-course"><div class="img-course"><img src="/images/Image3.svg" alt="">
            <div class="star"><span><sup><i class="fa fa-star" style="color: #FA8849;"></i></sup>4.9</span></div></div> <div class="notes"><p>Ash Groydon</p><p><i class="fa fa-eye"></i> View 32K</p></div>
          <h4>Learn Figma: User Interface Design Essentials UI/UX Design</h4>
        <p class="p-course">Lorem ipsum dolor sit amet, porttitor purus consectetur adipiscing </p>
      <div class="cost"><span> <sub>$</sub>40</span><i class="fa fa-minus" style="color: #fff;"></i></div></div>
          <div class="card-1 card-course"><div class="img-course"><img src="/images/Image4.svg" alt="">
            <div class="star"><span><sup><i class="fa fa-star" style="color: #FA8849;"></i></sup>4.9</span></div></div> <div class="notes"><p>Jane Cooper</p><p><i class="fa fa-eye"></i> View 32K</p></div>
          <h4>Learn Figma: User Interface Design Essentials UI/UX Design</h4>
        <p class="p-course">Lorem ipsum dolor sit amet, porttitor purus consectetur adipiscing </p>
      <div class="cost"><span> <sub>$</sub>40</span><i class="fa fa-minus" style="color: #fff;"></i></div></div>
          <div class="card-1 card-course"><div class="img-course"><img src="/images/Image5.svg" alt="">
            <div class="star"><span><sup><i class="fa fa-star" style="color: #FA8849;"></i></sup>4.9</span></div></div> <div class="notes"><p>Esther Howard</p><p><i class="fa fa-eye"></i> View 32K</p></div>
          <h4>Learn Figma: User Interface Design Essentials UI/UX Design</h4>
        <p class="p-course">Lorem ipsum dolor sit amet, porttitor purus consectetur adipiscing </p>
      <div class="cost"><span> <sub>$</sub>40</span><i class="fa fa-minus" style="color: #fff;"></i></div></div>
          </section>
        
    
    
    <section class="bg-service">
     
      
          <div class="title-service">
            <img src="/images/Group 18.svg" alt="">
        <h2>What do they </h2>
        <h2>  say about our service</h2>
        <p>We have many loyal customers, this is what they say about us</p></div>
        <div class="note-services">
          <h2>"</h2>
          <img src="/images/vuesax-linear-message-favorite.svg" alt="">
          <p>I get the best service everywhere 
            I go. Vind makes it easy for me to 
            get the best service.</p>
        </div>
          <div class="vector1"><img src="/images/Vector 1.svg" alt=""></div>
          <div class="vector2"><img src="/images/Vector 2.svg" alt=""></div>
          
        <div class="bg-services-ellipse">
          <div class="img1"><img src="/images/Ellipse 7.svg" alt=""></div>
          <div class="img2"><img src="/images/Ellipse 6.svg" alt=""></div>
          <div class="img3"><img src="/images/Ellipse 10.svg" alt=""></div>
          <div class="img4"><img src="/images/Ellipse 8.svg" alt=""></div>
          <div class="img5"><img src="/images/Ellipse 9.svg" alt=""></div>
          <div class="img6"><img src="/images/Ellipse 11.svg" alt=""></div>
        </div>
      
        
      
     
    </section>
    <div>
      <h2 class="title-price"> Course Price</h2>
    </div>
    <section class="price">
     
      <div class="card2"><h4>Free Trial</h4>
      <h3>$00<sup>Per month</sup></h3>
      <hr >
    <p><i class="fa fa-angle-double-right"></i> Limited Acess Library</p>
  <p><i class="fa fa-angle-double-right"></i> Commercia License</p>
<p><i class="fa fa-angle-double-right"></i> Hotline Support 24/7</p>
<p><i class="fa fa-angle-double-right"></i> 100+ HTML UI Elements</p>
<p><i class="fa fa-angle-double-right"></i> WooCommerce Builder</p>
<button>Start Now</button></div>
<div class="card3"><h4>Basic Plan</h4>
  <h3>$20<sup>Per month</sup></h3>
  <hr >
<p><i class="fa fa-angle-double-right"></i> Limited Acess Library</p>
<p><i class="fa fa-angle-double-right"></i> Commercia License</p>
<p><i class="fa fa-angle-double-right"></i> Hotline Support 24/7</p>
<p><i class="fa fa-angle-double-right"></i> 100+ HTML UI Elements</p>
<p><i class="fa fa-angle-double-right"></i> WooCommerce Builder</p>
<button>Start Now</button></div>
      <div class="card2"><h4>Premium Plan</h4>
        <h3>$50<sup>Per month</sup></h3>
        <hr >
      <p><i class="fa fa-angle-double-right"></i> Limited Acess Library</p>
    <p><i class="fa fa-angle-double-right"></i> Commercia License</p>
  <p><i class="fa fa-angle-double-right"></i> Hotline Support 24/7</p>
  <p><i class="fa fa-angle-double-right"></i> 100+ HTML UI Elements</p>
  <p><i class="fa fa-angle-double-right"></i> WooCommerce Builder</p>
  <button>Start Now</button></div>
    </section>
    <section>
      <div class="subscribe">
      <div class="center"><h2>Subscribe Us To Newsletter</h2>
      <p>Simplicity can be an effective way to make the right impression on <br>
         a potential subscriber. This newsletter signup.</p>
         <div class="input-s">
        <input type="email" placeholder="Enter your Email "><div class="btn-s"><button>Send</button></div></div>
      </div></div>
     
    </section>
    <footer>
      <div class="footer">
      <div><img src="/images/mask.svg" alt="">
       <h4> EDCN</h4>
       <p>10 New Town Street, V2 5NW,<br> Newstate, USA.</p>
       <p><i class="fa fa-phone"></i>&nbsp; (+88) 01920 809552</p>
       <p><i class="fa fa-envelope"></i>&nbsp; Info@gmail.com</p>
      </div>
      <div><h4>Support</h4>
      <p>How it Works</p>
    <p>Application Security</p>
  <p>Contact</p>
<p>FAQ</p></div>
      <div><h4>Features</h4>
      <p>Courses</p>
    <p>Service</p>
  <p>Add with IUB</p>
<p>Teacher</p></div>
      <div><h4>Contact Us</h4>
      <p>Help/ FAQ</p><p>Press</p>
    <div class="links"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i><i class="fa fa-youtube"></i><i class="fa fa-skype"></i></div>
  </div>
    </div>
    <hr>
<div class="copy"><p> &copy Copyright 2020 The LOGO All Rights Reserved.</p></div>
    </footer>
   
</body>
</html>